# Panda Series Exercises

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Exercises Part One
Use Series attributes and methods to explore your fruits Series.

In [10]:
# Use pandas to create a Series named fruits from the following list:
# ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

fruits.name ='fruits'
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
Name: fruits, dtype: object

In [9]:
# 1.  Determine the number of elements in fruits.

fruits.size

17

In [11]:
# 2. Output only the index from fruits.

fruits.index

RangeIndex(start=0, stop=17, step=1)

In [12]:
# 3.  Output only the values from fruits.

fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [13]:
# 4. Confirm the data type of the fruits.

fruits.dtype

dtype('O')

In [15]:
# 5.  Output only the first five values from fruits.

fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
Name: fruits, dtype: object

In [16]:
# 5. Output the last three values.

fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
Name: fruits, dtype: object

In [17]:
#  5. Output two random values from fruits.
fruits.sample(2)

4    gala apple
3     pineapple
Name: fruits, dtype: object

In [33]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: fruits, dtype: object

In [35]:
# 7.  Run the code necessary to produce only the unique string values from fruits.

np.unique(fruits)

array(['blackberry', 'blueberry', 'gala apple', 'gooseberry',
       'honeycrisp apple', 'honeydew', 'kiwi', 'mango', 'papaya',
       'pineapple', 'strawberry', 'tomato', 'watermelon'], dtype=object)

In [37]:
# 8.  Determine how many times each unique string value occurs in fruits.

fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
gala apple          1
strawberry          1
papaya              1
honeydew            1
pineapple           1
blackberry          1
tomato              1
blueberry           1
honeycrisp apple    1
watermelon          1
Name: fruits, dtype: int64

In [39]:
# 9.  Determine the string value that occurs most frequently in fruits.

fruits.value_counts().head(1)

kiwi    4
Name: fruits, dtype: int64

In [43]:
# 10.  Determine the string value that occurs least frequently in fruits.
fruits.value_counts().tail(11)

gooseberry          1
gala apple          1
strawberry          1
papaya              1
honeydew            1
pineapple           1
blackberry          1
tomato              1
blueberry           1
honeycrisp apple    1
watermelon          1
Name: fruits, dtype: int64

# Pandas Exercises Part 2

In [58]:
# 1.  Capitalize all the string values in fruits.

fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
Name: fruits, dtype: object

## 2. Count the letter "a" in all the string values (use string vectorization).

In [80]:
a_count = fruits.str.count('a') #create variable that counts the occurances of 'a' in each row
a_count.sum()  #use above variable to find the total amount of 'a' in all the string values

14

In [81]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
Name: fruits, dtype: int64

In [75]:
# 3.  Output the number of vowels in each and every string value.
vowels = list('aeiou')
def count_vowels(fruits):
    return len([letter for letter in fruits.lower() if letter in vowels])

In [76]:
fruits.apply(count_vowels)

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
Name: fruits, dtype: int64

In [82]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
Name: fruits, dtype: int64

In [84]:
# 4.  Write the code to get the longest string value from fruits.
max(fruits, key = len)

'honeycrisp apple'

In [74]:
# 5. Write the code to get the string values with 5 or more letters in the name.

In [ ]:
# 6. Use the .apply method with a lambda function to find the fruit(s) containing the letter "o" two or more times.

In [ ]:
# 7. Write the code to get only the string values containing the substring "berry".

In [ ]:
# 8.  Write the code to get only the string values containing the substring "apple".

In [ ]:
# 9.  Which string value contains the most vowels?