# Panda Series Exercises

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## Exercises Part One
Use Series attributes and methods to explore your fruits Series.

In [10]:
# Use pandas to create a Series named fruits from the following list:
# ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruits

fruits.name ='fruits'
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
Name: fruits, dtype: object

In [9]:
# 1.  Determine the number of elements in fruits.

fruits.size

17

In [11]:
# 2. Output only the index from fruits.

fruits.index

RangeIndex(start=0, stop=17, step=1)

In [12]:
# 3.  Output only the values from fruits.

fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [13]:
# 4. Confirm the data type of the fruits.

fruits.dtype

dtype('O')

In [15]:
# 5.  Output only the first five values from fruits.

fruits.head()

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
Name: fruits, dtype: object

In [16]:
# 5. Output the last three values.

fruits.tail(3)

14    blackberry
15    gooseberry
16        papaya
Name: fruits, dtype: object

In [17]:
#  5. Output two random values from fruits.
fruits.sample(2)

4    gala apple
3     pineapple
Name: fruits, dtype: object

In [33]:
# 6. Run the .describe() on fruits to see what information it returns when called on a Series with string values.

fruits.describe()

count       17
unique      13
top       kiwi
freq         4
Name: fruits, dtype: object

In [35]:
# 7.  Run the code necessary to produce only the unique string values from fruits.

np.unique(fruits)

array(['blackberry', 'blueberry', 'gala apple', 'gooseberry',
       'honeycrisp apple', 'honeydew', 'kiwi', 'mango', 'papaya',
       'pineapple', 'strawberry', 'tomato', 'watermelon'], dtype=object)

In [37]:
# 8.  Determine how many times each unique string value occurs in fruits.

fruits.value_counts()

kiwi                4
mango               2
gooseberry          1
gala apple          1
strawberry          1
papaya              1
honeydew            1
pineapple           1
blackberry          1
tomato              1
blueberry           1
honeycrisp apple    1
watermelon          1
Name: fruits, dtype: int64

In [39]:
# 9.  Determine the string value that occurs most frequently in fruits.

fruits.value_counts().head(1)

kiwi    4
Name: fruits, dtype: int64

In [43]:
# 10.  Determine the string value that occurs least frequently in fruits.
fruits.value_counts().tail(11)

gooseberry          1
gala apple          1
strawberry          1
papaya              1
honeydew            1
pineapple           1
blackberry          1
tomato              1
blueberry           1
honeycrisp apple    1
watermelon          1
Name: fruits, dtype: int64

In [24]:
# How can I use `.apply()` with a lambda function to count the letter 'r' in each value in my 'colors_series'?

fruits.apply(lambda row: row.count('a'))

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
Name: fruits, dtype: int64

In [49]:
a_count = fruits.str.count('a')
a_count.sum()

14